<header id="site-header">

</header>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script>
  // TODO - make this hack nicer
  // First, this grabs the import link and copies it to the page
  var link = document.querySelector('link[rel="import"]');
  var content = link.import;
  var el = content.documentElement.querySelector('.thingie')
  var header = document.getElementById("site-header")
  header.appendChild(el.cloneNode(true));

  // then, it corrects all the local URL within it to ensure it links back to the site
  var anchors = $('#site-header').find('a')
  anchors.each(function() {
    var link = $(this).attr('href');
    $(this).attr("href", "//www.woolandthegang.com" + link)
  });

  // TODO - image hack
  var images = $('#site-header').find('img')
  images.each(function() {
    var link = $(this).attr('src');
    $(this).attr("src", "http://d2pnxtyo6k0hqt.cloudfront.net" + link)
  });
  // debugger
</script>


