// Post pages
body.index {
  div.wrapper {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .post {
    height: 700px;
    width: 50%;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    div.text {
      padding: 277px 0 0;
      text-align: center;
      height: 100%;
      background-color: rgba(20, 18, 21, 0.68);
      h2 a {
        font-size: 42px;
        line-height: normal;
        color: rgb(226, 226, 226);
      }
      span {
        color: #DCDCDC;
      }
    }
  }

  .post:first-child, .post:nth-child(4) {
    width: 100%;
  }
  .post:last-child {
    margin-bottom: 30px;
  }

  .pagination {
    float: none;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #6000A3;
    bottom: 0;
  }

  // Mobile
  @media screen and (max-width: 650px) {
    .post {
      height: 450px;
      width: 100%;
      div.text {
        padding: 160px 0 0;
        h2 a {
          font-size: 30px;
        }
      }
    }
  }
}

