<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div id="search">
      <form action="/search" method="get">
        <input type="text" id="search-query" name="q" placeholder="Search" autocomplete="off">
      </form>
    </div>

    <section id="search-results" style="display: none;">
      <p>Search results</p>
      <div class="entries">
      </div>
    </section>



    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    {% include google_analytics.html %}

    <script src="/js/search.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/jquery.lunr.search.js" type="text/javascript" charset="utf-8"></script>


    <!-- <script src="/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script> -->
    <script src="/javascripts/search.min.js" type="text/javascript" charset="utf-8"></script>
<!--     <script src="_site/js/mustache.js" type="text/javascript" charset="utf-8"></script>
    <script src="_site/js/date.format.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/URI.min.js" type="text/javascript" charset="utf-8"></script>
 --><!--     <script src="/js/jquery.lunr.search.js" type="text/javascript" charset="utf-8"></script>
 -->




  </body>
</html>
